.meetupmap.col-md-9.col-sm-8.col-xs-12
  h2 ethereum hubs
  :markdown
    select hub to see more information
  #meetupmap


.sidebarinfo.col-md-3.col-sm-4.col-xs-12
  h2 information
  p
    span.nowrap Copyright &copy; 2014 Ethereum.
    | 
    span.nowrap All Rights Reserved.
